{% extends "base.html" %} 
{% block title %}Nuevo Cliente{% endblock %}
{% block content %}
<div class="px-2">
    <p class="h1 pb-4" style="text-align: center;">Clientes</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div>
            <p class="h3 mt-2  " >Datos del Cliente</p>
            <form action="{{ url_for('clients.save_client') }}" method="post">
                <div class="row">
                    <div class="col">

                            <label for="code" class="form-label">Cédula</label>
                            <input type="text" id="code" name="code" placeholder="Ingrese Cedula" class="form-control" required>

                    </div>
                    <div class="col">
                        <label for="description" class="form-label">Nombre</label>
                        <input type="text" id="description" name="description" class="form-control" required>
      
                    </div>
                </div>
                <div class="row">
                    <div class="col">                    
                        <label for="address" class="form-label">Dirección</label >
                        <input type="text" id="address" name="address" class="form-control" required>
                    </div>
                    <div class="col">   
                        <label for="phone" class="form-label">Telefono</label >
                        <input type="text" id="phone" name="phone" class="form-control" required>
                    </div>
                </div>  
                <div class="row">
                    <div class="col">
                        <label for="area_sales" class="form-label">Zona de Ventas</label>
                        <select name="area_sales" id="area_sales" class="form-select" aria-label="Default select example">
                            {% for a in area_sales %}
                            <option value="{{ a.code }}">{{ a.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">                    
                        <label for="email" class="form-label">Correo</label>
                        <input type="text" id="email" name="email" placeholder="@" class="form-control">
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="credit_days" class="form-label" >Dias de prorroga</label>
                        <input type="number" class="form-control" name="credit_days" id="credit_days" value="5">
                    </div>
                    <div class="col"></div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button class="btn btn-primary m-1">Buscar</button>
                    <button class="btn btn-danger">Eliminar</button>
                </div>            
            </form>
        </div>
</div>



    


{% endblock %}